In [32]:
import pandas as pd

hous_df=pd.read_csv("../inputs/housing.txt")
hous_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,216545.0,...,832178.0,846832.0,864584.0,879885.0,881568.0,881064.0,867874.0,857204.0,845637.0,843637.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,174229.0,...,299175.0,301732.0,303877.0,307321.0,310111.0,312096.0,312582.0,313144.0,313615.0,314365.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,115634.0,...,266079.0,270805.0,275917.0,280922.0,284786.0,287343.0,288902.0,289270.0,290016.0,290595.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,142913.0,...,448385.0,457624.0,469152.0,478023.0,484372.0,481959.0,475364.0,465435.0,460400.0,455305.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,225245.0,...,864585.0,887571.0,906792.0,919951.0,919417.0,908115.0,897043.0,890055.0,884988.0,880863.0

In [40]:
hous_df.columns
other_cols=list(hous_df[hous_df.columns[~hous_df.columns.isin(['RegionID','SizeRank','RegionName','RegionType','StateName','State','Metro','StateCodeFIPS','MunicipalCodeFIPS'])]].columns)
pivot_cols=list(hous_df[hous_df.columns[hous_df.columns.isin(['RegionID','SizeRank','RegionName','RegionType','StateName','State','Metro','StateCodeFIPS','MunicipalCodeFIPS'])]].columns)
["','".join(pivot_cols)]
pivot_cols

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'State',
 'Metro',
 'StateCodeFIPS',
 'MunicipalCodeFIPS']

In [42]:
pd.melt(hous_df,id_vars=pivot_cols,value_vars=other_cols,var_name='Date',value_name='zhvi_all')

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,Date,zhvi_all
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,2000-01-31,216545.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,2000-01-31,174229.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,2000-01-31,115634.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,2000-01-31,142913.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,2000-01-31,225245.0
...,...,...,...,...,...,...,...,...,...,...,...
781820,828,3104,Alpine County,county,CA,CA,NaN,6,3,2022-11-30,NaN
781821,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,2022-11-30,468599.0
781822,1933,3114,Mineral County,county,CO,CO,NaN,8,79,2022-11-30,404883.0
781823,1648,3129,Daggett County,county,UT,UT,NaN,49,9,2022-11-30,332784.0
781824,2518,3132,San Juan County,county,CO,CO,NaN,8,111,2022-11-30,NaN